sample-flow-node-red.json
[{"id":"2dc03521.c103da","type":"json","z":"2f3c4ae2.1d8c16","name":"","x":335.5993957519531,"y":223.27273559570312,"wires":[["23faf564.25371a","ee903748.f40668"]]},{"id":"23faf564.25371a","type":"debug","z":"2f3c4ae2.1d8c16","name":"JSON Payload","active":true,"console":"false","complete":"payload","x":612,"y":164.72727966308594,"wires":[]},{"id":"a026f9d2.9151c8","type":"inject","z":"2f3c4ae2.1d8c16","name":"WebApp Validation","topic":"challenge","payload":"{\"challenge\":1, \"validate\": \"false\"}","payloadType":"str","repeat":"","crontab":"","once":false,"x":175,"y":313.2727355957031,"wires":[["2dc03521.c103da"]]},{"id":"499bfdd9.b61e24","type":"rpi-gpio out","z":"2f3c4ae2.1d8c16","name":"Pi LED","pin":"40","set":true,"level":"0","out":"out","x":644.5,"y":277.2727355957031,"wires":[]},{"id":"ee903748.f40668","type":"function","z":"2f3c4ae2.1d8c16","name":"Logic","func":"pi_output = {};\npi_output.payload = ((msg.payload.challenge==1) && \n                     (msg.payload.validate==\"true\")) ? 1 : 0;\nreturn pi_output;","outputs":"1","noerr":0,"x":456.5,"y":283.2727355957031,"wires":[["499bfdd9.b61e24","d24b21a7.036b"]]},{"id":"d24b21a7.036b","type":"debug","z":"2f3c4ae2.1d8c16","name":"LED Output Payload","active":true,"console":"false","complete":"payload","x":654.5,"y":353.2727355957031,"wires":[]},{"id":"9c44b2ab.a01ed","type":"rpi-gpio in","z":"2f3c4ae2.1d8c16","name":"Button","pin":"38","intype":"up","debounce":"50","read":false,"x":173,"y":557,"wires":[["f71601de.e931d"]]},{"id":"f71601de.e931d","type":"function","z":"2f3c4ae2.1d8c16","name":"Toggle on input","func":"\ncontext.state = context.state || 0;\n\n(context.state == 0) ? context.state = 1 : context.state = 0;\nmsg.payload = context.state;\n\nreturn msg;","outputs":1,"noerr":0,"x":393,"y":556,"wires":[["ae7e735.4e1f49"]]},{"id":"ae7e735.4e1f49","type":"rpi-gpio out","z":"2f3c4ae2.1d8c16","name":"","pin":"37","set":true,"level":"0","out":"out","x":629.8333740234375,"y":555.8333129882812,"wires":[]},{"id":"ada4476c.4778b8","type":"comment","z":"2f3c4ae2.1d8c16","name":"Interactive Hardware","info":"Switch press to toggle LED","x":191,"y":490,"wires":[]},{"id":"1de8830d.13ca3d","type":"comment","z":"2f3c4ae2.1d8c16","name":"Interactive Web","info":"Frontend validation","x":187,"y":148,"wires":[]}]
